.sign-up {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

input,
label {
  display: block;
}

.sign-up__name {
  height: 50px;
  width: 255px;
  padding: 1rem;
}

.sign-up__button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 250px;
  height: 70px;
  background-color: #d4af28;
  border: none;
  border-radius: 10px;
  margin-bottom: 100px;
}
.sign-up__label {
  font-size: 2rem;
}
