.highscore__container {
  text-decoration: none;
  padding: 0;
}

.highscore__title {
  text-align: center;
  margin-top: 50px;
  color: black;
}

.highscore {
  background-image: url("../../assets/images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.highscore__board {
  background-color: white;
  width: 1000px;
  display: block;
  margin: 0 auto;
}
