@font-face {
  font-family: "charm regular";
  font-weight: normal;
  src: url("../assets/fonts/Charm/Charm-Regular.ttf");
}

@font-face {
  font-family: "charm bold";
  font-weight: bold;
  src: url("../assets/fonts/Charm/Charm-Bold.ttf");
}
